@import "tailwindcss";

:root {
  --background: #e0ddda;
  --foreground: #ffffff;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);
  --color-txt: #293133;
  --color-primary: #dcccb5;
  --color-secondary: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif; /* Poppins für alles andere */
}

/* Montserrat für Überschriften */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif;
}