@import "tailwindcss";

:root {
  --background: #e0ddda;
  --foreground: #f4ebdf;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-txt: #293133;
  --color-primary: #dcccb5;
  --color-secondary: #f4ebdf;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
